<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyLane Jarvis</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />

    <link rel="stylesheet" href="../stylesheet/generative.css" />
  </head>
  <body>
    <%- include('userNavbar') %>
    <div class="wrapper">
      <% if (messages.success) { %>
      <div class="notification">
        <p style="color: white"><%= messages.success %></p>
      </div>
      <% }else if (messages.error) { %>
      <div class="notification">
        <p><%= messages.error %></p>
      </div>
      <% } %>
      <div class="heading">
        <h3>Hello,<%= user.username %></h3>
        <h3>What's on your mind?</h3>
        <p>Chat with our powerful Jarvis AI powered by Gemini</p>
      </div>
      <!-- <form action="/generative/chat" method="post">
        <div class="input">
          <textarea
            type="text"
            class="inputField"
            name="chat"
            placeholder="how can jarvis help you ?"
          ></textarea>
          <div>
            <button type="submit" class="arrowinput">
              <i class="fa-solid fa-circle-arrow-up arrow hidden-arrow"></i>
            </button>
          </div>
        </div>
      </form> -->
      <a href="https://studylaneai.netlify.app/" target="_blank">
        <button class="button" style="--clr: #7808d0">
          <span class="button__icon-wrapper">
            <svg
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="button__icon-svg"
              width="10"
            >
              <path
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                fill="currentColor"
              ></path>
            </svg>

            <svg
              viewBox="0 0 14 15"
              fill="none"
              width="10"
              xmlns="http://www.w3.org/2000/svg"
              class="button__icon-svg button__icon-svg--copy"
            >
              <path
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                fill="currentColor"
              ></path>
            </svg>
          </span>
          Let's chat
        </button>
      </a>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../scripts/generative.js"></script>
  </body>
</html>
