<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyLane - Reset Password</title>
    <link rel="stylesheet" href="../stylesheet/register.css" />
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="../images/forgot.svg" alt="forgot-illustration" />
      </div>
      <form class="register" action="/passwordChange" method="post">
        <div class="text">
          <h1>Reset Password</h1>
          <p>Create a New<br />Password</p>
        </div>
        <div class="error" style="display: none">
          <p style="color: white">There was an error, please try again.</p>
        </div>

        <!-- Email (disabled for display but sent as hidden value) -->
        <div class="inputWrapper inputEmail">
          <input
            type="hidden"
            class="email"
            name="email"
            value="<%= email %>"
          />
          <input
            type="email"
            class="email"
            disabled
            value="<%= email %>"
            name="email"
            placeholder="Email"
          />
          <label>Email</label>
          <i class="fa-solid fa-envelope"></i>
        </div>

        <!-- Password Field -->
        <div class="inputWrapper inputPassword">
          <input
            type="password"
            class="password"
            placeholder=" "
            name="password"
            required
          />
          <label>Password</label>
          <i class="fa-solid fa-eye-slash"></i>
        </div>

        <!-- Confirm Password Field -->
        <div class="inputWrapper inputPassword">
          <input
            type="password"
            class="Confirmpassword"
            placeholder=" "
            name="confirmPassword"
            required
          />
          <label>Confirm Password</label>
          <i class="fa-solid fa-eye-slash"></i>
        </div>

        <div class="forBtn">
          <div class="button">
            <button type="submit">Reset Password</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Scripts -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://kit.fontawesome.com/c2025843a8.js"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/register.js"></script>
  </body>
</html>
